<!doctype html>

<html lang="fr">

    <head>
        <meta charset="utf-8">
        <meta name="description" content="Cours formulaires">
        <meta name="keywords" content="HTML, JavaScript, formulaire">
        <meta name="author" content="Samuel PATE">
        <title>Formulaire HTML</title>
        <link rel="stylesheet" media="screen" href="../static/style.css">
    </head>

    <body>
        <h1>Résultats</h1>
        <p>
            Le formulaire a été envoyé et les données récupérées.
        </p>
        <p>
            La variable prenom contient {{prenom}}
        </p>
        <p>
            La variable age contient {{age}}
        </p>
        <p>
            La variable classe contient {{classe}}
        </p>

        <h2>
            En explorant les fichiers server_formulaire.py, index.html et 
            formulaire_traite.html, répondez sur feuille aux questions suivantes :
        </h2>
        <ol>
            <li>A quoi correspond la valeur de l'attribut action de la balise form ? </li>
            <li>Quel est la valeur de l'attribut type du bouton déclenchant cette action ?</li>
            <li>Que fait l'instruction resquest.form dans le fichir python ?</li>
            <li>Quelle est le type du résultat de cette instruction ?</li>
            <li>
                A quoi correspondent les différentes valeurs de l'attribut name 
                qui se situent entre les balises form ouvrantes et fermantes
                dans le fichier index.html ?
            </li>
            <li>
                Dans le fichier index.html, qu'est-ce qui fait qu'un champ de saisie est
                destiné à un nombre ou à une chaîne de caractère ?
            </li>
            <li>
                Que faudrait-il changer dans le fichier index.html pour que,
                à la fin de l'éxécution, la variable 
                classe contiennent non pas seulement le numéro de la classe mais 
                son nom complet ? (Vous pouvez d'abord essayer en modifiant ce fichier)
            </li>
        </ol>
        <h2>
            Modifier les différents fichiers pour que vous saisissiez aussi la ville 
            où vous habitez et qu'elle s'affiche avec les autres informations.
        </h2>
    </body>
</html>